//variable
@import "variables";
@import "mixins";

//reset, normalize, helper-class
//@import "partials/normalize";
@import "partials/reset";



/*VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV*/
/*VVVVVV---------- main part ----------VVVVVV*/
/*VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV*/

:root {
  --color-primary: #08A6E4;
  --color-primary-shadow: rgba(7, 172, 230, .16);
  --color-redish: #FB3B64;
  --color-green: #55DFB4;
  --color-black: #000000;
  --color-grey: #A5A5A5;
  --color-light-grey: #F7F7F7;
  --color-white: #FFFFFF;
  --height-header: 70px;
  --border-link-hover: 4px;
  --font-primary: 'Raleway', sans-serif;
  --font-secondary: 'Open Sans', sans-serif
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-primary);
  color: var(--color-black);
}

.container {
  max-width: 1124px;
  margin: 0 auto;
}

/*VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV*/
/*VVVVVVVVVVVVVVVVVVVVVV---------- hero ----------VVVVVVVVVVVVVVVVVVVVVV*/
/*VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV*/

.hero{
  /*height: 100vh;*/
  /*height: 912px;*/
  /*min-height: 712px;*/
}

/*VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV*/
/*VVVVVVVVVVVVVVVVVVVVVV---------- header in hero ----------VVVVVVVVVVVVVVVVVVVVVV*/
/*VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV*/

.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--height-header);
  background: var(--color-white);
  border-bottom: 1px solid var(--color-light-grey);
  box-shadow: 0 3px 6px #00000029;
}

/*VVVVVVVVVVVVVVVVVVVVVV---------- sticky class for scrolling ----------VVVVVVVVVVVVVVVVVVVVVV*/
.header.sticky {
  transition: 0.5s;
  background: #fff;
  box-shadow: 0 3px 6px #00000029;
  z-index: 2;
}

.header__container{
  /*max-width: 1352px;*/
  margin-left: 136px;
  margin-right: 136px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.logo{
  color: var(--color-primary);
  font-size: 32px;
  font-weight: 300;
  text-decoration: none;
}

.menu{
  height: 100%;
}

.menu__list{
  height: 100%;
  display: flex;
  /*justify-content: space-between;*/
  /*align-items: center;*/
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu__list-link{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /*padding-left: 95px;*/
  margin-left: 95px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: var(--font-secondary);
  font-weight: bold;
  font-size: 11px;
  color: var(--color-grey);

}

.menu__list-link:hover {
  border-bottom: var(--border-link-hover) solid var(--color-primary);
  padding-top: var(--border-link-hover);
  color: var(--color-black);
}

/*VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV*/
/*VVVVVVVVVVVVVVVVVVVVVV---------- banner in hero ----------VVVVVVVVVVVVVVVVVVVVVV*/
/*VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV*/

.banner{
  height: 712px;
  padding-top: 130px;
  margin-top: var(--height-header);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  /*position: relative;*/
}

.banner__bkg{
  background-image: url("../images/background.png");
  background-position: bottom;
  background-size: cover;
  min-height: 508px;
  width: 100%;
}

.banner__title{
  font-size: 49px;
  margin-bottom: 20px;
}
.banner__text{
  font-size: 16px;
  font-family: var(--font-secondary);
  margin-bottom: 38px;
}
.banner__button{
  margin: 23px 0;
}
.banner__button-btn{
  font-family: var(--font-secondary);
  font-size: 16px;
  font-weight: bold;
  background-color: var(--color-primary);
  color: var(--color-white);
  text-decoration: none;
  padding: 23px 157px;
  border-radius: 40px;
  box-shadow: 5px 10px 14px var(--color-primary-shadow);
}

/*VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV*/
/*VVVVVVVVVVVVVVVVVVVVVV---------- section stats ----------VVVVVVVVVVVVVVVVVVVVVV*/
/*VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV*/

.section-stats{
  height: 531px;
  width: 100%;
  display: flex;
}
.section-stats{}
.stats-title{
  font-size: 36px;
  margin: 100px 0;
  width: 100%;
  padding-top: 100px;
}
.stats-list{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.stats-card{
  height: 168px;
  width: 176px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.stats-card_img{
  max-width: 60%;
  margin: 5px auto 0 25px;
}

.stats-card_img.stats-card_img-eye{
  max-width: 60%;
  margin: 15px auto 0 25px;
}

.stats-card_pseudo::before{
  content: "";
  width: 63px;
  height: 63px;
  border-radius: 50%;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 25%;
}

.stats-card_pseudo-first::before {
  background: var(--color-redish);
}
.stats-card_pseudo-second::before{
  background: var(--color-primary);
}
.stats-card_pseudo-third::before{
  background: var(--color-green);
}

.stats-card__title{
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 6px;
  position: relative;
}
.stats-card__text{
  font-size: 16px;
  font-family: var(--font-primary);
  text-align: center;
  color: var(--color-grey);
  height: 48px;
  line-height: 19px;
}

/*VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV*/
/*VVVVVVVVVVVVVVVVVVVVVV---------- section benefits ----------VVVVVVVVVVVVVVVVVVVVVV*/
/*VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV*/

.section-benefits{
  width: 100%;
  height: 1395px;
  background: var(--color-light-grey);
  padding-top: 105px;
}

.benefits-card{
  height: 370px;
  width: 100%;
  background: var(--color-white);
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--color-light-grey);
  border-radius: 5px;
  margin-bottom: 37px;
}

.benefit-order__one{
  order: 1;
}

.benefit-order__one1{
  color: var(--color-black);
  width: 623px;
  margin-top: 91px;
  margin-left: 35px;
}

.benefit-order__one3{
  color: var(--color-black);
  width: 623px;
  margin-top: 91px;
  margin-left: 35px;
}

.benefit-info__title{
  font-family: var(--font-primary);
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 30px;
}

.benefit-info__title3{
  width: 348px;
}

.benefit-info__text{
  width: 416px;
  font-family: var(--font-secondary);
  font-size: 16px;
  line-height: 22px;
  position: relative;
}

.benefit-info__text1::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: -50px;
  height: 4px;
  width: 80%;
  border-bottom: 4px solid var(--color-redish);
}

.benefit-info__text2::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: -50px;
  height: 4px;
  width: 80%;
  border-bottom: 4px solid var(--color-primary);
}

.benefit-info__text3::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: -50px;
  height: 4px;
  width: 80%;
  border-bottom: 4px solid var(--color-green);
}

.benefit-order__two{
  display: flex;
  justify-content: center;
  align-items: center;
  order: 2;
}

.benefit-order__two2{
  width: 416px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 70px 20px 70px auto;
}

.benefits-card.benefits-card__space{
  background: var(--color-light-grey);
}

.benefit-order__one.benefit-order__one3{
  width: 623px;
  background: var(--color-white);
  margin: 0;
  padding: 70px 0 0 35px;
}

.benefit-info__text.benefit-info__text3{
  width: 440px;
  margin: 0;
  padding: 0;
}

.benefit-card_img-first{
  width: 386px;
  height: 219px;
  margin: 113px 118px 38px auto;
  z-index: 1;
}

.benefit-card_img-second{
  width: 426px;
  max-height: 100%;
  height: 328px;
  margin: 29px auto 13px 70px;
  z-index: 1;
  position: relative;
}

.benefit-card_img-third{
  width: 295px;
  height: 207px;
  margin: 98px 82px 64px auto;
  z-index: 1;
}

.benefit-after-first,
.benefit-after-second,
.benefit-after-third{
  position: relative;
}

.benefit-after-first::after{
  content: "";
  position: absolute;
  top: -135px;
  left: 225px;
  height: 180px;
  width: 180px;
  color: var(--color-redish);
  background: var(--color-redish);
  border-radius: 41px;
  z-index: 0;
  transform: rotate(45deg);
}

.benefit-after-second::after{
  content: "";
  position: absolute;
  top: 10px;
  left: 70px;
  height: 325px;
  width: 325px;
  color: var(--color-primary);
  background: var(--color-primary);
  border-radius: 50%;
  z-index: 0;
}

.benefit-after-third::after{
  content: "";
  position: absolute;
  top: -184px;
  left: -63px;
  height: 370px;
  width: 440px;
  color: var(--color-green);
  background: var(--color-green);
  border-radius: 5px;
  z-index: 0;
}

/*VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV*/
/*VVVVVVVVVVVVVVVVVVVVVV---------- section pricing ----------VVVVVVVVVVVVVVVVVVVVVV*/
/*VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV*/

.section{}
.section-pricing{
  height: 816px;
  background: var(--color-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 100px;
}

.pricing-title{
  font-size: 36px;
}

.pricing-cards__container{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pricing-card{
  width: 372px;
  height: 461px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.pricing-card__hover{
  width: 405px;
  height: 500px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin-right: 60px;
  margin-left: 60px;
  box-shadow: 5px 10px 27px var(--color-primary-shadow);
}

.pricing-card__first{
  border: 1px solid var(--color-redish);
  border-radius: 18px;
}

.pricing-card__second{
  border: 1px solid var(--color-primary);
  border-radius: 18px;
}

.pricing-card__third{
  border: 1px solid var(--color-green);
  border-radius: 18px;
}

.pricing-card__title{
  font-size: 20px;
  font-weight: bold;
  padding-top: 34px;
  padding-bottom: 14px;
}

.pricing-card__title.pricing-card__title-hover{
  font-size: 21px;
}

.pricing-card__cost{
  font-family: var(--font-secondary);
  font-size: 46px;
  font-weight: 300;
  padding-bottom: 15px;
}
.pricing-card__cost-first{
  color: var(--color-redish);
}

.pricing-card__cost-second{
  color: var(--color-primary);
}

.pricing-card__cost-third{
  color: var(--color-green);
}

.pricing-card__info{
  font-size: 12px;
  font-weight: bold;
  padding-bottom: 50px;
}

.pricing-card__info-hover{
  padding-bottom: 60px;
}

.card-list{
  height: 175px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.card-list__item{
  font-family: var(--font-secondary);
  font-size: 14px;
  padding-left: 18px;
  padding-bottom: 20px;
}
.card-list__item-hover{
  padding-bottom: 25px;
}

.card-list__item-yes{
  position: relative;
}
.card-list__item-no{
  position: relative;
}

.card-list__item-yes::before{
  content: url("../images/ckechmark-1.svg");
  position: absolute;
  left: 0;
}
.card-list__item-no::before{
  content: url("../images/close.svg");
  position: absolute;
  left: 0;
}

.pricing-card__button{
  font-family: var(--font-secondary);
  font-weight: bold;
  width: 150px;
  height: 50px;
  border-radius: 23px;
  color: var(--color-white);
  text-decoration: none;
  padding: 16px 57px;
  margin-top: 55px;
  position: absolute;
  top: 375px;
}

.pricing-card__button-hover{
  width: 165px;
  margin-top: 53px;
  padding: 16px 65px;
  position: absolute;
  top: 415px;
  box-shadow: 5px 10px 15px var(--color-primary-shadow);
}

.pricing-card__button-first{
  background: var(--color-redish);
}

.pricing-card__button-second{
  background: var(--color-primary);

}

.pricing-card__button-third{
  background: var(--color-green);
}

/*VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV*/
/*VVVVVVVVVVVVVVVVVVVVVV---------- section contact ----------VVVVVVVVVVVVVVVVVVVVVV*/
/*VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV*/

.section{}
.section-contact{
  width:100%;
  display: flex;
  justify-content: center;
  margin-top: 55px;
}
.contact-container{
  width: 896px;
  height: 376px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.contact-info{
  width: 50%;
}
.contact-title{
  font-size: 49px;
  padding-bottom: 22px;
}
.contact-text{
  font-family: var(--font-secondary);
  font-size: 16px;
  padding-bottom: 42px;
}
.contact-details{
  display: flex;
  justify-content: flex-start;
}
.contact-details__el{
  font-family: var(--font-secondary);
  font-size: 16px;
  color: var(--color-grey);
  padding: 0 20px 0 40px;
  position: relative;
}
.contact-details__el-mail{}
.contact-details__el-phone{}

.contact-details__el-mail::before{
  content: url("../images/mail-icon.svg");
  position: absolute;
  top: -6px;
  left: 0;
}
.contact-details__el-phone::before{
  content: url("../images/phone-icon.svg");
  position: absolute;
  top: -6px;
  left: 0;
}

.contact-form{
  width: 50%;
}
.form-row{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.form-input{
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(149, 152, 154, 1);
  font-family: var(--font-secondary);
  font-size: 16px;
  padding: 10px;
}

.form-input__name{
  margin-bottom: 42px;
}
.form-input__email{
  margin-bottom: 30px;
}

.form-label{
  width: 100%;
  font-family: var(--font-secondary);
  font-size: 11px;
  font-weight: bold;
  color: var(--color-primary);
  text-transform: uppercase;
}

.form-checkbox{
  display: flex;
}
.form-checkbox__input{
  width: 24px;
  height: 24px;
  border: 1px solid #95989A;
  border-radius: 4px;
  margin-right: 10px;

  flex-shrink: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  outline: none;

  /*display: inline-flex;*/
  /*justify-content: center;*/
  /*align-items: center;*/
}

.form-checkbox__input:checked{
  background-image: url("../images/checkmark.svg");
  background-repeat: no-repeat;
  background-position: center;

}
.form-checkbox__label{
  font-family: var(--font-secondary);
  font-size: 12px;
  color: #707070;
}
.form-button{
  margin: 20px 0 0 auto;
  font-family: var(--font-secondary);
  font-size: 13px;
  font-weight: bold;
  color: var(--color-white);
  background: var(--color-primary);
  border: none;
  border-radius: 35px;
  box-shadow: 5px 10px 14px var(--color-primary-shadow);
  padding: 20px 97px;
}

/*VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV*/
/*VVVVVVVVVVVVVVVVVVVVVV---------- footer ----------VVVVVVVVVVVVVVVVVVVVVV*/
/*VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV*/

.footer{
  width: 100%;
  height: 90px;
  background: var(--color-light-grey);
  border-top: 1px solid white;
  box-shadow: 0 -5px 40px rgba(0, 0, 0, 0.16);
  /*display: flex;*/
  /*justify-content: space-between;*/
  /*align-items: center;*/

}
.footer__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 137px auto 137px;
  padding-left: 15px;
  padding-right: 15px;

}
.container{}
.footer__container-left{}
.footer-logo{
  display: inline-block;
  font-size: 26px;
  font-weight: 300;
  color: var(--color-primary);
  text-decoration: none;
  margin-bottom: 7px;
}
.footer-copyright{
  font-family: var(--font-secondary);
  font-size: 11px;
  color: var(--color-grey);
}
.footer__container-right{}
.footer-twitter{
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url("../images/twitter.svg");
  margin-right: 20px;
}
.footer-facebook{
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url("../images/facebook.svg");
}
















